{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-header">
   <h1 class="display-3">
   Anónimo Dice:
   </h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{confesion.contenido}}.</p>
      <footer class="blockquote-footer">Sexo: {{confesion.sexo}} / Edad: {{confesion.edad}} </footer>
    </blockquote>
  </div>
</div>
<center><h1 class='display-4'>Comentarios:</h1>
<hr>
   <h3>Nuevo Comentario</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy  }}
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
    </form>
</center>
{% endblock %}