{% load static %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Confesiones Anonimas</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



    <!-- Custom styles for this template -->
    <link href="{% static 'css/narrow-jumbotron.css" rel="stylesheet'%}">
    	

  </head>

  <body>
  

    <div class="container-fluid">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/confesion/agregar_confesion/">Confiesate!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reglas?</a>
            </li>
          </ul>
        </nav>
        <a href="/"><h3 class="text-muted">MaipiConfesiones</h3></a>
      </div>
<br>
    {% block content %}
    {% endblock content %}




<center>
<br>
      <footer class="footer">
      <div class="container">
        <span class=>© Las MaipiConfesiones 2020, desarrollado por Erik Taveras (una tarde de sabado aburrida) </span>
        </div>
      </footer>
<br>
</center>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  

</body></html>

