{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
   <h1 class="display-3">
   Anónimo Dice:
   </h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{confesion.contenido}}.</p>
      <footer class="blockquote-footer">Sexo: {{confesion.sexo}} / Edad: {{confesion.edad}} </footer>
    </blockquote>
  </div>
</div>
<center><h1 class='display-4'>Comentarios:</h1></center>
<hr>
<a href="{% url 'comentario' id=confesion.id %}" class="btn btn-primary btn-lg btn-block" role="button">agregar comentario</a>
<br>
<br>

{% for comentario in confesion.comentario.all reversed %}

<div class="alert alert-primary" role="alert">


 {{comentario.contenido}}

</div>
<hr>
{% endfor %}


{% endblock content %}