{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
        <h1 class="display-5">Necesitas Confesarte? </h1>
        <p class="lead">Esta es una pagina de prueba creada en python usando el framework Django emulando esas paginas en las cuales la gente se confesaba de manera anonima y sin ser victimas de prejuicios, pero sintiendo esa liberacion de haber dicho al mundo un secreto. </p>
        <p><a class="btn btn-lg btn-primary" href="confesion/agregar_confesion/" role="button">Confiesate Fatal! </a></p>
      </div>
<center>
 <h1 class='display-3'>ultimas confesiones</h1>
</center>
<br>
      <div class="row marketing">
      
        <div class="col-lg">
        {% for confesion in confesiones%}
        

        <div class="card">
        <div class="card-header">
        <h4><a href="confesion/{{confesion.id}}"><h4>{{confesion.sexo}} / {{confesion.edad}}</h4></a>
        </div>
        <div class="card-body">
        <p class="card-text">{{confesion.contenido |truncatewords:40}}</p>
        <a href="confesion/{{confesion.id}}" class="btn btn-primary stretched-link">Comentarios <span class="badge badge-dark">{{confesion.comentario.all|length}} </span></a>
        </div>
        </div>
        <br>
        {% endfor %}
                </div>
      </div>
{% endblock content %}